<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="header-title-font">Checkbox Example</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <div class="list-container">
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="title-font">List of Hobbies</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="display-list-container">
            <ul>
                <li *ngFor="let item of checkboxesDataList">
                    <mat-checkbox class="normal-font" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}</mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
    <div class="selected-list-container">
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="title-font">Selected Hobbies</span>
                <span class="example-spacer"></span>
                <span class="title-font">Total:{{selectedItemsList.length}}</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="display-list-container">
            <ul>
                <li *ngFor="let item of selectedItemsList">
                    <mat-checkbox class="normal-font" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}</mat-checkbox>
                </li>
            </ul>
        </div>
        <mat-toolbar class="display-footer-container">
            <mat-toolbar-row>
                <button mat-raised-button color="primary" (click)="submitHobbies()">Submit Hobbies</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
<router-outlet></router-outlet>