ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 4px;
}

.example-spacer {
    flex: 1 1 auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 227, 227);
    height: 91vh;
}

.list-container {
    flex-grow: 1;
    margin: 15px 7.5px 15px 15px;
    padding: 15px;
    background-color: white;
    width: 50%;
}

.selected-list-container {
    flex-grow: 1;
    margin: 15px 15px 15px 7.5px;
    padding: 15px;
    background-color: white;
    width: 50%;
    position: relative;
    top: 0;
}

.header-title-font {
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title-font {
    font-size: 18px;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.normal-font {
    font-size: 16px;
    font-family: monospace;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.display-list-container {
    padding: 15px;
}

.selected-list-container .display-footer-container {
    position: absolute;
    left: 0;
    bottom: 0;
}

.display-footer-container button {
    width: 100%;
    font-size: 16px;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .list-container {
        margin: 10px;
        padding: 15px;
        background-color: white;
        width: auto;
    }
    .selected-list-container {
        margin: 10px;
        padding: 15px;
        background-color: white;
        width: auto;
        position: relative;
        top: 0;
    }
    .selected-list-container .display-footer-container {
        position: relative;
        left: 0;
        bottom: 0;
    }
}